@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model RegisterUserViewModel

@{ 
    ViewBag.Title = "Register";
}

<form method="post" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="UserName">User Name</label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>

    <div>
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>

    <div>
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>

    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="AlternateEmail">Alternate Email</label>
        <input asp-for="AlternateEmail" />
        <span asp-validation-for="AlternateEmail"></span>
    </div>

    <div>
        <label asp-for="PhoneNumber">Phone Number</label>
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>

    <div>
        <label asp-for="Organisation">Organisation</label>
        <input asp-for="Organisation" />
        <span asp-validation-for="Organisation"></span>
    </div>

    <div>
        <label asp-for="Position">Position</label>
        <input asp-for="Position" />
        <span asp-validation-for="Position"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <div>
        <input type="submit" value="Register"/>
    </div>



</form>
